@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #3E3A3A;
  font-size: 0.75rem;
}

.header-wrap{
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.header-wrap__logo {
  width: 17.5%;
}

.header-wrap__logo a {
  transition: all 0.3s;
}

.header-wrap__logo a:hover {
  opacity: 0.7;
}

.header-wrap__logo a img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap__nav{
  width: 75%;
}

.header-wrap__nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}

.header-wrap__nav__list__item a {
  position: relative;
  text-decoration: unset;
  color: #3E3A3A;
  font-weight: 500;
}

.header-wrap__nav__list__item a:hover {
  position: relative;
  color: #9CC9E5;
}

.header-wrap__btn__list__web a{
  text-decoration: unset;
  display: block;
}

.header-wrap__btn__list__web__web {
  position: relative;
  margin-top: -1%;
  color: #fff;
  font-size: 125%;
  max-width: 120px;
  padding: 0.75rem 1.25rem 0rem 2.25rem ;
  border-radius: 30px;
  background-color: #9CC9E5;
  z-index: 0;
}

.header-wrap__btn__list__web__web:hover{
  color: #9CC9E5;
  background-color: #fff;
  border: solid 2px #9CC9E5;
}

.header-wrap__btn__list__web__comment {
  position: relative;
  margin-top: -30%;
  margin-left: 30%;
  white-space: nowrap;
  width: fit-content;
  font-size: 70%;
  color: #3E3A3A;
  max-width: 80px;
  padding: 0.1rem 0.7rem;
  border: 2px solid #9CC9E5;
  border-radius: 30px;
  background-color: #fff;
  z-index: 1;
}

.header-wrap__btn__list__web__comment:hover {
  color: #fff;
  background-color: #9CC9E5;
  border: solid 2px #fff;
}

.header-wrap__btn__list__web__comment::before{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  background-color: #fff;
  rotate: 135deg;
  translate: -50%;
}

.header-wrap__btn__list__web__comment::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #9CC9E5 #9CC9E5 transparent transparent;
  rotate: 135deg;
  translate: -50%;
}



.header-wrap__btn__list__tel{
  margin-left: 7%;
}

.header-wrap__btn__list__tel a{
  text-decoration: unset;
  display: block;
  font-size: 125%;
  color: #3E3A3A;
}

.header-wrap__btn__list__tel a:hover{
  color: #9CC9E5;
}
