@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #3E3A3A;
  font-size: 0.75rem;
}

.header-wrap{
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.header-wrap__logo {
  width: 17.5%;
}

.header-wrap__logo a {
  transition: all 0.3s;
}

.header-wrap__logo a:hover {
  opacity: 0.7;
}

.header-wrap__logo a img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap__nav{
  width: 75%;
}

.header-wrap__nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}

.header-wrap__nav__list__item a {
  position: relative;
  text-decoration: unset;
  color: #3E3A3A;
  font-weight: 500;
}

.header-wrap__nav__list__item a:hover {
  position: relative;
  color: #9CC9E5;
}

.header-wrap__btn__list__web{
  margin-top: 4%;
}

.header-wrap__btn__list__web a{
  text-decoration: unset;
  display: block;
  margin-top: -40px;
  position: relative;
}

.header-wrap__btn__list__web__web {
  position: relative;
  color: #fff;
  font-size: 125%;
  max-width: 120px;
  padding: 0.4rem 1.25rem 0.2rem 2.25rem ;
  border: solid 2px#fff;
  border-radius: 30px ;
  background-color: #9CC9E5;
  z-index: 0;
}

.header-wrap__btn__list__web a:hover .header-wrap__btn__list__web__web {
  color: #9cc9e5;
  background-color: #fff;
  border: solid 2px #9cc9e5;
  transition: all 0.2s;
}

/* .header-wrap__btn__list__web a:hover .header-wrap__btn__list__web__comment { */
  /* color: #fff; */
  /* background-color: #9CC9E5; */
  /* transition: all 0.2s; */
/* } */

.header-wrap__btn__list__web__comment {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateY(-40%) translateX(-50%);
  white-space: nowrap;
  width: fit-content;
  font-size: 70%;
  color: #3E3A3A;
  max-width: 80px;
  padding: 0.1rem 0.7rem;
  border: 2px solid #9CC9E5;
  border-radius: 30px;
  background-color: #fff;
  z-index: 1;
}

.header-wrap__btn__list__web__comment::before{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  background-color: #fff;
  rotate: 135deg;
  translate: -50%;
}

.header-wrap__btn__list__web__comment::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #9CC9E5 #9CC9E5 transparent transparent;
  rotate: 135deg;
  translate: -50%;
}

/* .header-wrap__btn__list__web a:hover .header-wrap__btn__list__web__comment::before { */
  /* color: #fff; */
  /* background-color: #9CC9E5; */
  /* border: solid 2px #9CC9E5; */
  /* transition: all 0.2s; */
/* } */

/* .header-wrap__btn__list__web a:hover .header-wrap__btn__list__web__comment::after { */
  /* color: #fff; */
  /* background-color: #9CC9E5; */
  /* border: solid 2px #9CC9E5; */
  /* transition: all 0.2s; */
/* } */

.header-wrap__btn__list__tel a{
  text-decoration: unset;
  display: block;
  font-size: 125%;
  color: #3E3A3A;
}

.header-wrap__btn__list__tel a:hover{
  color: #9CC9E5;
}

.__inner {
  width: 53%;
  margin: 0 auto;
  padding: 7% 0;
  /* ボックス内の余白。 */
}

.footer{
  background-color: #CAE5D3;
  background-image: url(../img/wave.png);
  background-size: cover;
  background-position: 50% 0;
  position: relative;
  min-height: 50px;
  z-index: 0;
  padding: 7% 0;
}

.s-ttl__2{
  font-size: 2.25rem;
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.footer-wrap__top{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 15px auto;
}

.footer-wrap__top__left {
  width: 50%;
  margin-right: 3%;
  text-align: center;
}

.footer-wrap__top__left a {
  width: 100%;
  height: 100%;
  background-color: #FF7E7E;
  border: solid 2.5px #FF7E7E;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-wrap__top__left a:hover {
  background-color: #CAE5D3;
  color: #FF7E7E;
  border: solid 2.5px #FF7E7E;
}

.footer-wrap__top__left a p {
  font-size: 1.75rem;
}

.footer-wrap__top__right {
  width: 50%;
  margin-left: 3%;
  /* text-align: center; */
}

.footer-wrap__top__right a{
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
  border: solid 2.5px #fff;
  color: #3E3A3A;
  font-size: 1.75rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  border-radius: 5rem;
  text-decoration: none;
  align-items: center;
  transition: all 0.3s;
}

.footer-wrap__top__right__time p {
  display: inline-block;
}

.footer-wrap__top__right a:hover {
  transform: scale(1.05);
}

.footer-wrap__top__right a i {
  margin-right: 2.5%;
}

.footer-wrap__top__right__time{
  margin-top: 15px;
  margin-left: 30px;
}

.footer-wrap__bottom {
  font-size: 1rem;
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer-wrap__bottom__list__item {
  margin: 12.5% 0;
  color: #3E3A3A;
  list-style: none;
}

.footer-wrap__bottom__list__item a {
  color: #3E3A3A;
  text-decoration: none;
  transition: 0.3s all;
}

.footer-wrap__bottom__list__item a:hover {
  opacity: 0.7;
}

.footer-wrap__bottom__list__item__sub{
  list-style: none;
}

.footer-wrap__bottom__list__item__sub__item{
  font-size: 0.8rem;
}