@charset "UTF-8";

.top{
  background-image: url(../img/top.png);
  background-size: cover;
  background-position: 50%;
  position: relative;
  margin-top: 110px;
  min-height: 390px;
  z-index: 0;
}

.top-wrap{
  max-width: 1400px;
  /* width: 85%; */
  height: 40vh;
  /* margin: 0 auto; */
}

.top-wrap__left__ttl{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-left: 17%;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
}

.top-wrap__left__ttl h1{
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.news-wrap {
  display: flex;
}

.news-wrap__ttl {
  width: 30%;  /* _innerで指定した60%の幅の30%を表示位置に指定 */
  font-size: 2.25rem;
}

.btn a{
  text-decoration: unset;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: #9CC9E5;
  border-radius: 30px;
}

.btn a:hover{
  background-color: #fff;
  color: #9CC9E5;
  border: solid 2.5px #9CC9E5;
}

.s-ttl__1 {
  display: inline-block;  /* ブロックの横幅は内部要素に依存するように設定 */
  font-size: 2rem;
  color: #1D4763;
  line-height: 1.5;
}

.news-wrap__con {
  width: 75%;  /* _innerで指定した80%の幅の75%を表示位置に指定 */
  font-size: 1rem;
}

.news-wrap__con__list__item {
  display: flex;
  align-items: center;  /* 要素の配置、上下中央 */
  /* font-size: 1.15rem; */
  border-bottom: solid 1.5px #3E3A3A;  /* スタイル　太さ　色 */
  padding-top: 1.75%;
  padding-bottom: 1.75%;
}

.news-wrap__con__list__item__date {
  margin-left: 3.75%;
  margin-right: 7%;  /* ボックス外の余白 */
}

.info{
  background-image: url(../img/wave.png);
  background-size: cover;
  background-position: 50% 0;
  position: relative;
  min-height:50px;
  z-index: 0;
}

.info-wrap {
  text-align: center;
  padding-bottom: 1%;
}

.info-wrap__ttl h2 {
  font-size: 2rem;
  color: #1D4763;
  line-height: 1.5;
}

.info-wrap__body {
  display: flex;  /* 3つのitemを横並び */
  justify-content: space-between;  /* ブロック要素内で均等配置 */
  margin: 0 5% 0.25%;
  padding-top: 5%;
}

.info-wrap__body__item {
  display: flex;  /* flex-directionを適用させるために指定 */
  flex-direction: column;  /* column＝ブロック要素の並び順と同様になるように指定 */
  width: 25%;
  padding: 2.5%;
}

.info-wrap__body__item a {
  text-decoration: none;
}

.info-wrap__body__item a:hover {
  transform: scale(1.05);
}

.info-wrap__body__item__icon {
  background-color: #fff;
  border-radius: 50%;
  width: 8.25rem;
  height: 8.25rem;
  margin: 0 auto;
  display: flex;  /* icon内のi要素に対してフレックスボックスを指定 */
  justify-content: center;  /* 横軸を基準に左右中央 */
  align-items: center;  /* 縦軸を基準に上下中央 */
}

.info-wrap__body__item__icon i {
  font-size: 4rem;
  color: #AAABAB;
}

.info-wrap__body__item__ttl {
  margin-top: 7%;
  text-align: center;
}

.info-wrap__body__item__ttl h3 {
  font-size: 1.5rem;
}

.greet {
  background-color: #CAE5D3;
}

.__inner__sub {
  display: flex;
  height: 450px;
  width: 80%;
  margin: 0 auto;
  padding: 7% 0;
  bottom: 0px;
  margin: 0 0 0 0;
  z-index: -1;
}

.__inner__sub::before{
  content: "";
  display: flex;
  width: 93%;
  object-fit: cover;
  background-color: #fff;
}

.greet-wrap__item{
  background-color: #fff;
  padding-right: 5%;
}

.greet-wrap__left {
  background-color: #fff;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.greet-wrap__left__txt {
  margin-top: 5%;
  font-size: 1rem;
}

.f-btn{
  margin-top:auto;
  padding-top: 100px;
}

.greet-wrap__right {
  width: 45%;
  aspect-ratio: 3/4;
}

.greet-wrap__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 0;
  border-radius: 0 25px 25px 0;
}

.fea-wrap__left {
  background-color: #fff;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.fea-wrap__left__txt {
  margin-top: 5%;
  font-size: 1rem;
}

.fea-wrap__right {
  width: 45%;
  aspect-ratio: 3/4;
}

.fea-wrap__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 0 25px 25px 0;
}

.__inner__sub:nth-of-type(2n) {
  flex-direction: row-reverse;
  margin: 0 0 0 auto;
}

.__inner__sub:nth-of-type(2n) .f-btn{
  margin-top: 30px;
}

.__inner__sub:nth-of-type(2n) .fea-wrap__item {
  background-color: #fff;
  padding-left: 5%;
}

.__inner__sub:nth-of-type(2n) .fea-wrap__right img {
  border-radius: 25px 0 0 25px;
}

.map {
  background-color: #fff;
}

.map-wrap {
  display: flex;
  justify-content: space-between;
  width: 53%;
}

.map-wrap__block{
  width: 47%;
}

.map-wrap__block__logo img{
  width: 100%;
}

.map-wrap__block__add p{
  font-size: 1.25rem;
}

.map-wrap__block__tel{
  display: flex;
}

.map-wrap__block__tel__icon {
  background-color: #9CC9E5;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  display: flex;
  /* icon内のi要素に対してフレックスボックスを指定 */
  justify-content: center;
  /* 横軸を基準に左右中央 */
  align-items: center;
  /* 縦軸を基準に上下中央 */
}

.map-wrap__block__tel__icon i {
  font-size: 1rem;
  color: #fff;
}

.map-wrap__block__tel{
  font-size: 1.25rem;
}

.map-wrap__block__tel__time p{
  display: inline-block;
}

.map-wrap__btn__list__web {
  margin-top: 5%;
  margin-bottom: 3%;
  width: 50%;
}

.map-wrap__btn__list__web a {
  text-decoration: unset;
  display: block;
  position: relative;
  width: 100%;
}

.map-wrap__btn__list__web__web {
  position: relative;
  color: #fff;
  font-size: 125%;
  width: 70%;
  text-align: center;
  padding: 2.5% 15%;
  border: solid 2px#fff;
  border-radius: 30px;
  background-color: #9CC9E5;
  z-index: 0;
}

.map-wrap__btn__list__web a:hover .map-wrap__btn__list__web__web {
  color: #9cc9e5;
  background-color: #fff;
  border: solid 2px #9cc9e5;
  transition: all 0.2s;
}

/* .map-wrap__btn__list__web a:hover .map-wrap__btn__list__web__comment { */
  /* color: #fff; */
  /* background-color: #9CC9E5; */
  /* transition: all 0.2s; */
/* } */

.map-wrap__btn__list__web__comment {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
  width: fit-content;
  font-size: 70%;
  color: #3E3A3A;
  max-width: 80px;
  padding: 0.1rem 0.7rem;
  border: 2px solid #9CC9E5;
  border-radius: 30px;
  background-color: #fff;
  z-index: 1;
}

.map-wrap__btn__list__web__comment::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  background-color: #fff;
  rotate: 135deg;
  translate: -50%;
}

.map-wrap__btn__list__web__comment::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #9CC9E5 #9CC9E5 transparent transparent;
  rotate: 135deg;
  translate: -50%;
}

/* .map-wrap__btn__list__web a:hover .map-wrap__btn__list__web__comment::before { */
  /* color: #fff; */
  /* background-color: #9CC9E5; */
  /* border: solid 2px #9CC9E5; */
  /* transition: all 0.2s; */
/* } */

/* .map-wrap__btn__list__web a:hover .map-wrap__btn__list__web__comment::after { */
  /* color: #fff; */
  /* background-color: #9CC9E5; */
  /* border: solid 2px #9CC9E5; */
  /* transition: all 0.2s; */
/* } */

.map-wrap__btn__list__tel a {
  text-decoration: unset;
  display: block;
  font-size: 125%;
  color: #3E3A3A;
}

.map-wrap__btn__list__tel a:hover {
  color: #9CC9E5;
}

.map-wrap__block__sche {
  margin: 2.5% auto;
  text-align: center;
}

.map-wrap__block__sche table {
  width: 100%;
}

.map-wrap__block__sche table tr:nth-of-type(1) {
  background-color: #DFE2EA;
}

.map-wrap__block__sche table tr:nth-of-type(2),
.map-wrap__block__sche table tr:nth-of-type(3) {
  border-bottom: solid 1px #DFE2EA;
}

.map-wrap__block__sche table th:first-child{
  background-color: #DFE2EA;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.map-wrap__block__sche table tr td{
  border-right: solid 1px #DFE2EA;
}

.date td{
  border-right: solid 1px #fff !important;
}

.date td:nth-of-type(7){
  border-right: solid 1px #DFE2EA !important;
}


.pm{
  border-bottom: solid 1px #DFE2EA !important;
}

.map-wrap__block__sche table tr th {
  padding: 3px;
}

.map-wrap__block__sche table tr td {
  padding: 3px;
}